{%  extends "admin/common/admin_base.html" %}
{% block title -%}
    数据库管理
{% endblock %}
{% block page_title -%}数据库管理{% endblock %}
{% block page_btn_name -%}备份数据列表{% endblock %}
{% block content -%}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"></h3>
                        <div class="pull-left">
                        </div>
                    </div>
                    <div class="box-body table-responsive">
                        <table class="table table-bordered table-hover">
                            <tr>
                                <th>备份序号</th>
                                <th>备份名称</th>
                                <th>备份时间</th>
                                <th>备份大小</th>
                                <th width="250">操作</th>
                            </tr>
                            {% for vo in data %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ vo.file_name }}</td>
                                <td>{{ vo.file_time }}</td>
                                <td>{{ vo.file_size}}</td>
                                <td>
                                    {{ authAction(url_for('admindatabase.dowonload',id=vo.file_name),cationType="dowonload",param=vo.file_name)}}
                                    {{ authAction(url_for('admindatabase.restore'),cationType="restore",param=vo.file_name)}}
                                    {{ authAction(url_for('admindatabase.delete'),cationType='delete',param=vo.file_name) }}
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(function(){
            /*ajax页面加载icheck，有该控件的页面才需要*/
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });

            /*ajax页面加载icheck，有该控件的页面才需要*/
            $(".select2").select2({language:"zh-CN"});

            /*全选-反选*/
            $('.checkbox-toggle').on('ifChecked', function(event){
                var _this = $(this);
                var _table = _this.closest('.table');
                _table.find("tr td input[type='checkbox']").iCheck("check");
            });
            $('.checkbox-toggle').on('ifUnchecked', function(event){
                var _this = $(this);
                var _table = _this.closest('.table');
                _table.find("tr td input[type='checkbox']").iCheck("uncheck");
            });

        })
    </script>
{% endblock %}